.fira-sans{
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;

nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
           
}
.size{
    font-weight: 700;
    font-size: 32;
    color: #0E0E0E;
}
.btn-one{
font-weight: 600;
    font-size: 18px;
    color: #006A50;
    background-color: white;
    border: solid #006A50;
    padding: 15px 30px;
    border-radius: 8px;
}
.btn-one:hover{
    background-color: #817b7b;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
  }
  .image{
    width: 474px;
    height: 400px;
    margin-right: 80px;

  }
  .page{
    margin: 0 auto;
  max-width: 1280px;
  
  }
.content{
    margin: 117px 64px 117px 59px;
  } 
  .title{
    font-weight: 500;
    font-size: 24px;
    color: #817b7b;
    margin-bottom: 16px;
  }
  .topic{
    color: #0E0E0E;
    font-weight: 700;
    font-size: 56px;
    width: 622px;
    height: 201px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .btn{
    color: #FFFFFF;
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 8px;
    margin-top: 24px;
    border: none;
  }
  .btn:hover{
    background-color: #817b7b;
  }
  .picture{
    width: 474px;
    height: 400px;
    margin-right: 59px;
  }
  .middle{
    margin: 0 auto;
  max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
.theme{
  margin: 0 auto;
  max-width: 1280px;
  text-align: start;

    
}
.section-title{
    justify-items: start;
    font-weight: 700;
    font-size: 40px;
    color :#0E0E0E;
    margin: 80px 0px 32px 0px; 
}
  .pillars-container{
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .pillars{
    padding: 30px;
    background-color: #FFFFFF;
    width: 302px;
    height: 244px;
    box-shadow: 0px 6px 50px 0px rgb(203, 199, 199); 
    border-radius: 18px;
  }
.pillars-description{
    font-weight: 400;
    font-size: 16px;
    color: #555555;
text-align: start;
  }
  .visions-container{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        gap: 24px;
        height: 325px;
  }

  .theme2-title{
    justify-items: start;
    font-weight: 700;
    font-size: 40px;
    color :#0E0E0E;
    margin: 80px 0px 24px;
  }
.theme2-description{
    font-weight: 400;
    font-size: 16px;
color: #555555;
text-align: justify
margin: 24px 0px 32px;
  }
.vision-1{
    padding: 30px;
    background-color: #c8dcff;
    width: 410px;
    height: 325px;
    box-shadow: 0px 6px 50px 0px rgb(203, 199, 199); 
    border-radius: 16px;
}
.vision-2{
    padding: 30px;
    background-color:#C6E4D6;
    width: 410px;
    height: 325px; 
    box-shadow: 0px 6px 50px 0px rgb(203, 199, 199); 
    border-radius: 16px;
}
.vision-3{
    padding: 30px;
    background-color: #F7EBCF;
    width: 410px;
    height: 325px;
    box-shadow: 0px 6px 50px 0px rgb(203, 199, 199); 
    border-radius: 16px;
}

.theme2{margin: 0 auto;
  max-width: 1280px;
  margin-bottom: 130px;
  text-align: start;
}
.visions-title{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
}
.visions-description{
  font-weight: 400;
  font-size: 16px;
  color:#555555; 
  margin: 12px 0px 24px;
}

button{
  font-weight: 600;
  font-size: 16;
  color: white;
  padding: 11px 20px;
  border-radius: 10px;
  border: none;

}
button:hover{
  background-color: #817b7b;

}
.blue{
  background-color: #5490F5;
}
.green{
  background-color: #09A15C;
}
.yellow{
  background-color: #FFC239;
}
.about{
  margin: 0 auto;
  max-width: 1280px;
  height: 160px;
  padding: 48px 24px 48px 24px;
  background-color: white;
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0px 6px 50px 0px rgb(203, 199, 199);
}
.speech{
  font-weight: 400;
  font-size: 16px;
  color: #555555;
}
.name{
  font-weight: 600;
  font-size: 20px;
margin: auto;
}
.position{

  font-weight: 400;
  font-size: 18px;
  color: #817b7b;

}
.set {
  display: flex;
  gap: 10px;
  align-items: center; 
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  height: 402px;
  box-shadow: 0px 6px 50px 0px rgb(203, 199, 199);

}
.whole{
  margin: 0 auto;
  max-width: 1280px;
  text-align: start;
  margin-top: 80px;
}
.the-title{
  font-weight: 700;
  font-size: 40px;
  margin: 80px 0px 40px;

}
.detail{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
  color: #555555;

}
.bg{
  border-radius: 24px;
}
.new{
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 12px;
}
.adjust{
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
}
.detail-2{
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  
}
.set1{
  padding: 30px;
  justify-content: center;
  margin-bottom: 50px;
 
}


.btn-4{
font-weight: 600;
font-size: 18px;
color: white;
background-color:#006A50 ;
border-radius: 8px;

}
.equal{
  display: flex;
  gap: 10px;
  align-items: center; 
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  height: 402px;
  box-shadow: 0px 6px 50px 0px rgb(203, 199, 199);
}
.donate{
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 24px;
  
}
.about-more{
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  margin-bottom: 32px;
}
.submit{
  font-weight: 900;
  font-size: 20px;
  color: #0E0E0E;
  padding: 30px 60px;
  text-align: center;
  background-color: #C6E4D6;
  
}
.donation-buttons{
  text-align: center;
  margin-bottom: 32px;
  
}
.box{
  width: 1032px;
  height: 20;
  margin-top: 30px;
  padding: 20px 40px;
  text-align: center;
  box-shadow: 0px 6px 50px 0px rgb(203, 199, 199);
  background: none;
  border-color: #09A15C;

}
.quick{
  font-weight: 600;
  font-size: 18px;
  margin-top: 52px;
  padding: 17px 34px;
  background-color: #006A50;
}
.letter{
  font-weight: 700;
  font-size: 40px;
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  margin-top: 180px;
}
.details{
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  margin-top: 16px;
}
.text{
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
}
.fill-up{
  width: 1032px;
  height: 20;
  padding: 20px 40px;
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  margin-top: 30px;
  padding: 100;


}
.subs{
  background-color: #006A50;
}
.conclusion{
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
}
.end{
  background-color: #C6E4D6;
  margin: 0 auto;
  max-width: 1280px;
  height: 395px;
  text-align: center;
  padding: 30px 90px;
  border-radius: 18px;
  
}
.bangla{
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  margin-top: 130px;
  font-weight: 700;
  font-size: 32px;
}
.icon{
  
  margin: 0 auto ;
  max-width: 1280px;
  text-align: center;
  margin-left: 50px;
}