.fira-sans{
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;

nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
           
}
.size{
    font-weight: 700;
    font-size: 32;
    color: #0E0E0E;
}
.btn-one{
font-weight: 600;
    font-size: 18px;
    color: #006A50;
    background-color: white;
    border-color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
}
.btn-one:hover{
    background-color: #817b7b;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
  }
  .page{
    margin: 0 auto;
  
  }
.content{
    margin: 117px 64px 117px 59px;
  } 
  .title{
    font-weight: 500;
    font-size: 24px;
    color: #817b7b;
    margin-bottom: 16px;
  }
  .topic{
    color: #0E0E0E;
    font-weight: 700;
    font-size: 56px;
    width: 622px;
    height: 201px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .btn{
    color: #FFFFFF;
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 8px;
    margin-top: 24px;
    border: none;
  }
  .btn:hover{
    background-color: #817b7b;
  }
  .picture{
    width: 474px;
    height: 400px;
    margin-right: 59px;
  }
  .middle{
    margin: 0 auto;
  max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
.theme{
    margin: 0 auto;
    
}
.section-title{
    justify-items: start;
    font-weight: 700;
    font-size: 40px;
    color :#0E0E0E;
    margin: 80px 0px 32px 20px; 
}
  .pillars-container{
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .pillars{
    padding: 30px;
    background-color: #FFFFFF;
    width: 302px;
    height: 244px;
    box-shadow: 0px 6px 50px 0px rgb(203, 199, 199); 
    border-radius: 18px;
  }
.pillars-description{
    font-weight: 400;
    font-size: 16px;
    color: #555555;
text-align: start;
  }
  .visions-container{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        gap: 24px;
  }

  .theme2-title{
    justify-items: start;
    font-weight: 700;
    font-size: 40px;
    color :#0E0E0E;
    margin: 80px 0px 24px;
  }
.theme2-description{
    font-weight: 400;
    font-size: 16px;
color: #555555;
text-align: justify
margin: 24px 0px 32px;
  }
.vision-1{
    padding: 30px;
    background-color: #c8dcff;
    width: 410px;
    height: 325px;
    box-shadow: 0px 6px 50px 0px rgb(203, 199, 199); 
    border-radius: 16px;
}
.vision-2{
    padding: 30px;
    background-color:#C6E4D6;
    width: 410px;
    height: 325px; 
    box-shadow: 0px 6px 50px 0px rgb(203, 199, 199); 
    border-radius: 16px;
}
.vision-3{
    padding: 30px;
    background-color: #F7EBCF;
    width: 410px;
    height: 325px;
    box-shadow: 0px 6px 50px 0px rgb(203, 199, 199); 
    border-radius: 16px;
}

.data{
    max-width: 1450px;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 32px;

}
